
:root{
    --headnavfoot-color: rgb(126, 162, 170);
    --headnavfoot-font: sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: var(--headnavfoot-color);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    position: fixed;
    left: 0px;
    top: 10vh;
    width: 15vw;
    min-width: 150px;
    height: 85vh;
    background-color:tomato;
    margin-bottom: 100px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--headnavfoot-font);
    font-size: 2em;

}

#header{
    font-size: 3em;
    font-family: var(--headnavfoot-font);
}

main{
    margin: 10vh 0vh 5vh 10vw;
    padding: 20px 20px;
}

#nametag-container{
    width: 400px;
    height: 250px;
    background: rgb(216, 216, 216);
    padding: 5px;
}

#nametag-top{
    background: red;
    color: white;
    border-radius: 20px 20px 0px 0px;
    height: 40%;

}

#hello{
    display: block;
    font-size: 3em;
    font-family: Impact;
    letter-spacing: .5em;
    text-align: center;
    margin-right: -.5em;
}

#below-hello {
    display: block;
    font-size: 1.5em;
    font-family: Impact;
    text-align: center;
}

#nametag-middle{
    display: flex;
    height: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#name{
    font-family: 'Cedarville Cursive', monospace;
    font-size: 3em;
}

#nametag-bottom{
    display: block;
    height: 10%;
    background: red;
    border-radius: 0px 0px 20px 20px;
}

footer {
    position: fixed;
    height: 5vh;
    width: 100%;
    background-color: var(--headnavfoot-color);
    bottom: 0px;
    font-family: var(--headnavfoot-font);
    display: flex;
    justify-content: center;
    align-items: center;
}